* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: blueviolet;
}

h1, a {
    color: white;
    text-align: center;
}

a {
    display: block;
    font-weight: 700;
    margin: 8px;
}